@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.Services {
    .Services_header {
        padding-bottom: 3rem;
        position: relative;
        text-align: center;
        h1 {
            margin: 0;
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            display: inline-block;
            @include squares-left-heading;
        }
        @include transition;
        @include media($bp-mobile) {
            padding-bottom: 1rem;
        }
    }
}
