@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.Services {
    .Services_header {
        position: relative;
        text-align: center;
        margin-bottom: 4rem;
        h1 {
            margin: 0;
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            display: inline-block;
            @include squares-left-heading;
        }
        @include transition;
        @media only screen and (max-width: $bp-tablet) {
            margin-bottom: 1rem;
        }
    }
    .Services_lead {
        margin: 3rem 0 0 0;
        position: relative;
        display: flex;
        align-items: center;
        @include transition;
        @media only screen and (max-width: $bp-tablet) {
            margin: 1rem 0 0 0;
        }
        .Services_lead_image {
            background: url('../../assets/images/bg-two.jpg') no-repeat center
                center;
            background-size: 120%;
            height: 350px;
            width: 50%;
            @media only screen and (max-width: $bp-mobile) {
                // height: 100%;
                width: 100%;
                display: none;
            }
        }
        .Services_lead_content {
            padding: 2rem 5rem;
            width: 70%;
            right: 0;
            position: absolute;
            background: transparentize(
                $color: $theme-white-color,
                $amount: 0.1
            );
            font-size: 1.5em;
            line-height: 1.5em;
            text-shadow: 1px 1px 7px $theme-primary-color;
            @include squares-left-block;
            @include transition;
            @media only screen and (max-width: $bp-laptop) {
                font-size: 1.2em;
            }
            @media only screen and (max-width: $bp-tablet) {
                font-size: 1.12em;
                padding: 1rem 2rem;
            }
            @media only screen and (max-width: $bp-mobile) {
                width: 100%;
                position: relative;
                font-size: 1em;
                padding: 20px 20px;
                margin: 2rem 15px 15px 15px;
                text-shadow: none;
            }
        }
    }
    .Services_list {
        margin-top: 3rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // @include squares-right-block;
        @include transition;
        @media only screen and (max-width: $bp-tablet) {
            margin-top: 1rem;
        }
    }
}
