@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.Staff {
    padding-bottom: 2rem;
    header {
        text-align: center;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        background: transparent;
        display: inline-block;
        @include squares-left-heading;
    }
    .Staff_content_container {
        display: flex;
        @include media($bp-mobile) {
            flex-direction: column;
        }
        .Staff_img_container {
            width: 30%;
            padding-top: 2rem;
            height: 400px;
            @include media($bp-tablet) {
                width: 40%;
            }
            @include media($bp-mobile) {
                width: 100%;
            }
            .Staff_img {
                position: relative;
                @include squares-left-block;
                background: url('../../../assets/images/owner.jpg') no-repeat
                    center top;
                background-size: cover;
                background-color: $theme-primary-color;
                height: 100%;
                width: 100%;
            }
        }
        .Staff_content {
            display: flex;
            align-items: center;
            width: 70%;
            padding: 2rem;
            padding-bottom: 0;
            h2 {
                margin-top: 0;
            }
            p {
                font-size: 1.2em;
                line-height: 1.7rem;
                padding: 0 2rem;
                @include transition;
                &:first-child {
                    margin-top: 0;
                }
            }
            .Button_container {
                text-align: right;
            }
            @include media($bp-laptop) {
                p {
                    font-size: 1em;
                }
            }

            @include media($bp-tablet) {
                width: 60%;
                p {
                    padding: 0;
                }
            }
            @include media($bp-mobile) {
                width: 100%;
                padding: 2rem 0;
                .Button_container {
                    text-align: center;
                }
            }
        }
    }
}
