@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.MobileNav {
    display: block;
    position: absolute;
    top: 50px;
    right: -130%;
    width: 100%;
    height: auto;
    z-index: 200;
    background: $theme-secondary-color;
    border-top: 1px solid $theme-primary-color;
    @include transition;
    ul {
        list-style: none;
        padding-left: 0;
        padding: 2rem;
        li {
            margin-bottom: 10px;
            font-size: 1.1em;

            a {
                display: block;
                width: 100%;
                padding: 10px;
                border: 1px solid $theme-primary-color;
                @include transition;
                &.active {
                    background: $theme-primary-color;
                    color: $theme-white-color !important;
                }
            }
        }
    }
    @media only screen and (min-width: 426px) {
        display: none !important;
    }
}

.OpenNav {
    right: 0;
}
