@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.Skills {
    .Skills_content {
        .Skills_content_lead {
            width: 50%;
            margin: auto;
            text-align: center;
            line-height: 1.6em;
            font-size: 1.1em;
            @include transition;
            @include media($bp-laptop) {
                width: 70%;
            }
            @include media($bp-tablet) {
                width: 90%;
            }
            @include media($bp-mobile) {
                width: 100%;
                text-align: left;
            }
        }
        .Skills_content_list {
            list-style-type: none;
            padding: 0;
            text-align: center;
            position: relative;
            li {
                display: inline-block;
                margin-bottom: 0.7em;
                padding: 0 20px;
                border-right: 5px solid $theme-secondary-color;
                @include transition;
                &:last-child {
                    border-right: none;
                }
                @include media($bp-tablet) {
                    margin: 0 0 0.3em 2rem;
                    display: block;
                    text-align: left;
                    border-right: 0;
                    position: relative;
                    font-size: 1em;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 7px;
                        height: 7px;
                        width: 7px;
                        background-color: $theme-primary-color;
                    }
                }
                @include media($bp-mobile) {
                    margin: 0 0 0.3em 0rem;
                }
            }
        }
    }
}
