@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.ContactForm {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    // @include dropShadow;
    h3 {
        text-transform: uppercase;
        font-family: inherit;
    }
    input,
    select,
    textarea {
        font-family: inherit;
    }
}
