@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.Ownership {
    header {
        text-align: center;
        h1 {
            font-size: 2.5em;
            text-transform: uppercase;
            @include squares-left-heading;
        }
    }
    main {
        .Ownership_content {
            font-size: 1.4em;
            text-align: center;
            p {
                @include transition;
                @media only screen and (max-width: $bp-laptop) {
                    width: 70%;
                    margin: auto;
                }
                @media only screen and (max-width: $bp-tablet) {
                    width: 80%;
                    line-height: 1.4em;
                }
            }
        }
    }
}
