@import '../../variables.scss';

.Ownership {
    header {
        text-align: center;
        h1 {
            font-size: 3em;
            @include squares-left-heading;
        }
    }
    main {
        .Ownership_content {
            font-size: 1.4em;
            text-align: center;
        }
    }
}
