@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.Header {
    height: 90vh;
    max-height: 700px;
    background-image: url('../../assets/images/bg-three.jpg');
    background-size: cover;
    background-position: center center;
    padding: 2rem;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    @include transition;
    @media only screen and (max-width: $bp-tablet) {
        height: 500px;
    }
    @media only screen and (max-width: $bp-mobile) {
        height: auto;
        padding: 1rem;
    }
}
