@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.DesktopNavContainer {
    display: flex;
    justify-content: center;
    @include transition;
    @include media($bp-mobile) {
        display: none;
    }
    .Slogan {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 0;
        height: 100%;
        cursor: pointer;
        @include transition;
    }
    .DesktopNav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -120%;
        list-style: none;
        margin: 0;
        height: 50px;
        padding-left: 0;
        @include transition;
        @include media($bp-tablet) {
            height: 45px;
        }
        li {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            a {
                display: block;
                position: relative;
                height: 100%;
                display: flex;
                padding: 0 20px;
                align-items: center;
                font-size: 0.95em;
                font-weight: 400;
                text-transform: uppercase;
                transition: background-color 500ms ease-in-out;
                &.active {
                    background: $theme-primary-color;
                    color: $theme-white-color !important;
                }
                &::after {
                    @include transition;
                    display: none;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    height: 2px;
                    width: 0;
                    background-color: $theme-primary-color;
                }
                &:hover {
                    color: $theme-primary-color;
                    cursor: pointer;
                    &::after {
                        animation: animate 500ms ease-in-out;
                        display: block;
                        right: 10%;
                        width: 80%;
                    }
                }

                @include media($bp-tablet) {
                    padding: 0 10px;
                }
            }
        }
    }
    .Open {
        display: flex;
        top: 0;
    }
    .Hide {
        top: -120%;
    }
}

@keyframes animate {
    0% {
        width: 0;
        right: 50%;
    }
    70% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 80%;
        right: 10%;
    }
}
