@import '../../../variables.scss';

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    background: $theme-secondary-color;
    .Logo {
        height: 50px;
        width: 50px;
        margin: 10px;
        background: $theme-secondary-color url('../../../assets/images/qlogo.png') no-repeat left top;
        background-size: contain;
    }
    .Nav_Items_list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        height: 68px;
        li {
            padding: 0 20px;
            position: relative;
            display: flex;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            height: 100%;
            color: $theme-primary-color;
            &:hover {
                color: $theme-highlight-color;
                cursor: pointer;
                background-color: $theme-white-color;
            }
        }
    }
}