@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.NavContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    // padding: 0 50px 0 50px;
    background-color: $theme-secondary-color;
    .Nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1350px;
        width: 100%;
        margin: auto;
        background: $theme-secondary-color;
        position: relative;
        @include transition;
        @include media($bp-mobile) {
            padding: 0 3px 0 12px;
        }
        .Logo {
            height: 50px;
            width: 50px;
            margin: 10px 10px 10px 0px;
            background: $theme-secondary-color
                url('../../../assets/images/qlogo.png') no-repeat left top;
            background-size: contain;
            @include transition;
            transform: scale(1);
            @media only screen and (max-width: $bp-tablet) {
                height: 40px;
                width: 40px;
                margin: 5px;
            }
            &:hover {
                cursor: pointer;
                animation: animateLogo 500ms ease-in-out;
            }
        }
    }
}

@keyframes animateLogo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
