@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.Heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    position: relative;
    background: transparent;
    display: inline-block;
    @include squares-left-heading;
    @include media($bp-mobile){
        font-size: 1.8em;
    }
}
