@mixin squares-bottom-service-card {
    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 10%;
        width: 10%;
        border-bottom: 1px solid $theme-primary-color;
    }
    &:after {
        border-left: 1px solid $theme-primary-color;
        left: 0;
    }
    &:before {
        border-right: 1px solid $theme-primary-color;
        right: 0;
    }
}

@mixin squares-left-heading {
    position: relative;
    display: inline-block;
    &:before,
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 20%;
        height: 60%;
    }
    &:before {
        border-right: 1px solid $theme-primary-color;
        border-top: 1px solid $theme-primary-color;
        right: -30px;
        top: -10px;
    }

    &:after {
        border-left: 1px solid $theme-primary-color;
        border-bottom: 1px solid $theme-primary-color;
        left: -30px;
        bottom: -10px;
    }
    @include media($bp-mobile) {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}

@mixin squares-block {
    &:before,
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 20%;
        height: 20%;
    }
    &:before {
        border-top: 1px solid $theme-primary-color;
        top: -10px;
    }

    &:after {
        border-bottom: 1px solid $theme-primary-color;
        bottom: -10px;
    }
}

@mixin squares-left-block {
    @include squares-block;
    &:before {
        border-left: 1px solid $theme-primary-color;
        left: -10px;
    }
    &:after {
        border-right: 1px solid $theme-primary-color;
        right: -10px;
    }
}

@mixin squares-right-block {
    @include squares-block;
    &:before {
        border-right: 1px solid $theme-primary-color;
        right: -10px;
    }

    &:after {
        border-left: 1px solid $theme-primary-color;
        left: -10px;
    }
}

@mixin squares-left-vision {
    &:before,
    &:after {
        display: block;
        content: '';
        z-index: 4;
        position: absolute;
        width: 20%;
        height: 60%;
    }
    &:before {
        border-right: 1px solid $theme-highlight-color;
        border-top: 1px solid $theme-highlight-color;
        right: -5px;
        top: -5px;
    }

    &:after {
        border-left: 1px solid $theme-primary-color;
        border-bottom: 1px solid $theme-primary-color;
        left: -5px;
        bottom: -5px;
    }
}

@mixin animate-top-right {
    animation: animate-squares-top-right 600ms ease-in-out;
    @keyframes animate-squares-top-right {
        0% {
            right: -5px;
            top: -5px;
        }
        50% {
            right: -15px;
            top: -15px;
        }
        100% {
            right: -5px;
            top: -5px;
        }
    }
}

@mixin animate-bottom-left {
    animation: animate-squares-bottom-left 600ms ease-in-out;
    @keyframes animate-squares-bottom-left {
        0% {
            left: -5px;
            bottom: -5px;
        }
        50% {
            left: -15px;
            bottom: -15px;
        }
        100% {
            left: -5px;
            bottom: -5px;
        }
    }
}

@mixin dropShadow {
    -webkit-box-shadow: 7px 7px 39px -2px rgba(168, 168, 168, 1);
    -moz-box-shadow: 7px 7px 39px -2px rgba(168, 168, 168, 1);
    box-shadow: 7px 7px 39px -2px rgba(168, 168, 168, 1);
}

@mixin transition {
    transition: all 500ms ease-in-out;
}

/*
    Media Query
*/

@mixin media($bp) {
    @if $bp == 1024px {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $bp == 768px {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $bp == 425px {
        @media (max-width: 425px) {
            @content;
        }
    }
}
