$theme-primary-color: #013f6e;
$theme-secondary-color: #a9b7c2;
$theme-white-color: #f1faee;
$theme-highlight-color: #f77f00;
$theme-danger-color: #e63946;

/* @import '../../../assets/styles/variables.scss'; */
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 425px;
