@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.Backdrop {
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparentize($color: $theme-white-color, $amount: 0.1);
    &.Open {
        animation: open 1000ms ease;
        z-index: 100;
        left: 0;
        opacity: 1;
    }
    &.Close {
        animation: close 1000ms ease;
        opacity: 0;
        z-index: -100;
        display: none;
    }
    .Modal {
        max-width: 900px;
        width: 90%;
        max-height: 95%;
        color: $theme-primary-color;
        background: $theme-white-color;
        padding: 1rem;
        overflow-y: auto;
        @include dropShadow;
        .Modal_header {
            text-align: center;
            padding-top: 2rem;
            h1 {
                margin: 0;
                padding: 0;
                @include squares-left-heading;
                @include transition;
                @include media($bp-mobile) {
                    font-size: 1.5rem;
                }
            }
        }
        .Modal_body {
            div {
                padding: 2rem;
                line-height: 1.6em;
                @include transition;
                @include media($bp-mobile) {
                    padding: 1rem;
                }
            }
        }
    }
}

@keyframes open {
    0% {
        z-index: -100;
        opacity: 0;
    }
    10% {
        z-index: 100;
        opacity: 0;
    }
    100% {
        z-index: 100;
        opacity: 1;
    }
}

@keyframes close {
    0% {
        display: block;
        z-index: 100;
        opacity: 1;
    }
    90% {
        display: block;
        z-index: 100;
        opacity: 0;
    }
    100% {
        z-index: -100;
        opacity: 0;
        display: none;
    }
}
